.section4 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px 0;

    .section4-background {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
    }

    .types-container {

        .type-container {
            margin: 25px 100px;
            display: flex;
            column-gap: 50px;
            align-items: center;
            img {
                border-radius: 30px;
                object-fit: contain;
                padding: 25px;
                border: 1px #1c4954 solid;
                width: 120px;
                height: 120px;
            }
            h2{
                font-size: 30px;
                font-weight: 600;
            }
            p{font-size: 18px;
                width:70%;
            }
        }
    }

}
@media (max-width:1300px) {
    .section4 {
        height: 55vh;
        padding: 5px 0;
        width: 100%;
        .section4-background {
            height: 90%;
        }
    
        .types-container {
            .type-container {
                margin: 15px 8px;
                column-gap: 15px;
                img {
                    border-radius: 15px;
                    object-fit: contain;
                    padding: 7px;
                    border: 1px #1c4954 solid;
                    width: 50px;
                    height: 50px;
                }
                h2{
                    font-size: 14px;
                    font-weight: 600;
                }
                p{font-size: 10px;
                    width:95%;
                }
            }
        }
    
    }
}