.section1{
    width: 100%;
    height: 100vh;
    .point{
        position: absolute;
        bottom:10%;
        left:8%;
    }
    .background1{
        
        position:absolute;
        top:0;
        z-index: -1;
        width:100%;
        height:85%;
    }
    .living-room,.pot{
        position:absolute;
    }
    .pot{width:18%;
        bottom:10%;
        right:0;
    }
    .living-room{
        bottom:4%;
        width:45%;
        right:12%;
    }
}
@media (max-width:1300px) {
    .section1{
        height:55vh;
        .living-room,.pot,.point{
            bottom:40%;
        }
        .living-room{
            width:50%;
        }
        .background1{
            height:55%;
        }
        .content-container {  
            top: 25%;
            transform: translateY(-25%);
        
            h4 {
                font-size: 16px;
                font-weight: inherit;
            }
        
            h1 {
                font-size: 24px;
                
            }
        
            hr {
                width: 80px;
            }
        .price-container{
            margin-top: 8px;
            .price {
                font-size: 22px;
            }
        }
        .shop-btn {
            margin-left: 5px;
            margin-top: 25px;
            font-size: 14px;
            padding: 3px 15px;
        }     
        }
    }

}

    