* {

  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #1c4954;
  font-family: "Poppins";
}

html.body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}